In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/Users/abhilashasinha/Downloads/adult.data")

In [3]:
data.head(1)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,YES
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,YES

In [4]:
data.columns = ['age','workclass','fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship','race', 'sex','capitalgain', 'capitalloss','hoursperweek','nativecountry','income']

In [5]:
data.head()

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,YES
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,YES
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,YES
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,YES
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,YES

In [6]:
data.count()

age              32560
workclass        32560
fnlwgt           32560
education        32560
educationnum     32560
maritalstatus    32560
occupation       32560
relationship     32560
race             32560
sex              32560
capitalgain      32560
capitalloss      32560
hoursperweek     32560
nativecountry    32560
income           32560
dtype: int64

In [7]:
df = pd.DataFrame([data.isnull().sum(),data.isnull().sum() * 100.0/data.shape[0]]).T
df.columns =['No. of missing value', 'Percentage of missing value']
df

               No. of missing value  Percentage of missing value
age                             0.0                          0.0
workclass                       0.0                          0.0
fnlwgt                          0.0                          0.0
education                       0.0                          0.0
educationnum                    0.0                          0.0
maritalstatus                   0.0                          0.0
occupation                      0.0                          0.0
relationship                    0.0                          0.0
race                            0.0                          0.0
sex                             0.0                          0.0
capitalgain                     0.0                          0.0
capitalloss                     0.0                          0.0
hoursperweek                    0.0                          0.0
nativecountry                   0.0                          0.0
income                          0.0                          0.0

In [8]:
df.count()

No. of missing value           15
Percentage of missing value    15
dtype: int64

In [9]:
data = data.dropna()

In [10]:
data.age.unique()

array([50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 23, 32, 40, 34, 25, 43, 54,
       35, 59, 56, 19, 39, 20, 45, 22, 48, 21, 24, 57, 44, 41, 29, 18, 47,
       46, 36, 79, 27, 67, 33, 76, 17, 55, 61, 70, 64, 71, 68, 66, 51, 58,
       26, 60, 90, 75, 65, 77, 62, 63, 80, 72, 74, 69, 73, 81, 78, 88, 82,
       83, 84, 85, 86, 87])

In [11]:
bin_age = ('0','40',np.inf)
labels_age = ('0-40', 'Above 40')
data['binned_age'] = pd.cut(data['age'], bins = bin_age, labels = labels_age, include_lowest = True)

/Users/ashutoshshanker/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [12]:
data['binned_age'].unique()

[Above 40, 0-40]
Categories (2, object): [0-40 < Above 40]

In [13]:
data.workclass.unique()

array([' Self-emp-not-inc', ' Private', ' State-gov', ' Federal-gov',
       ' Local-gov', ' NA', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [14]:
bins_dict_workclass = {' Self-emp-not-inc': 'Self-emp-not-inc', ' Private':'Private',' State-gov':'Government',
                       ' Federal-gov':'Government',' Local-gov':'Government',' Self-emp-inc':'Self-employed',' Never-worked':'No-salary',
                       ' NA':'No-salary',' Without-pay':'No-salary'}
data["binned_workclass"] = data["workclass"].replace(bins_dict_workclass)

In [15]:
data["binned_workclass"].unique()

array(['Self-emp-not-inc', 'Private', 'Government', 'No-salary',
       'Self-employed'], dtype=object)

In [16]:
data['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [17]:
bin_dict_education = {' Bachelors': 'College',' HS-grad':'School', ' 11th':'School', ' Masters':'College', ' 9th':'School',
       ' Some-college':'Others', ' Assoc-acdm':'Others', ' Assoc-voc':'Others', ' 7th-8th':'School',
       ' Doctorate':'College', ' Prof-school':'Others', ' 5th-6th':'School', ' 10th':'School', ' 1st-4th':'School',
       ' Preschool':'School', ' 12th':'School' }
data["binned_education"] = data["education"].replace(bin_dict_education)